#game {
   display: grid; 

   grid-template-rows: repeat(4, 300px);
   grid-template-columns: repeat(5, 200px);
   
   gap: 10px;
   height: 100%;
   width: 100%;
   
}
  
#card-0 {
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 2;
   
}
#card-1 {
   grid-row-start: 1;
   grid-column-start: 2;

   grid-row-end: 2;
   grid-column-end: 3;
   
}
#card-2 {
   grid-row-start: 1;
   grid-column-start: 3;

   grid-row-end: 2;
   grid-column-end: 4;
   
}
#card-3 {
   grid-row-start: 1;
   grid-column-start: 4;

   grid-row-end: 2;
   grid-column-end: 5;
   
}
#card-4 {
   grid-row-start: 1;
   grid-column-start: 5;

   grid-row-end: 2;
   grid-column-end: 6;
   
}
#card-5 {
   grid-row-start: 2;
   grid-column-start: 5;

   grid-row-end: 3;
   grid-column-end: 6;
   
}
#card-6 {
   grid-row-start: 2;
   grid-column-start: 4;

   grid-row-end: 3;
   grid-column-end: 5;
   
}
#card-7 {
   grid-row-start: 2;
   grid-column-start: 3;

   grid-row-end: 3;
   grid-column-end: 4;
   
}
#card-8 {
   grid-row-start: 2;
   grid-column-start: 2;

   grid-row-end: 3;
   grid-column-end: 3;
   
}
#card-9 {
   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 2;
   
}
#card-10 {
   grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 2;
   
}
#card-11 {
   grid-row-start: 3;
   grid-column-start: 2;

   grid-row-end: 4;
   grid-column-end: 3;
   
}
#card-12 {
   grid-row-start: 3;
   grid-column-start: 3;

   grid-row-end: 4;
   grid-column-end: 4;
   
}
#card-13 {
   grid-row-start: 3;
   grid-column-start: 4;

   grid-row-end: 4;
   grid-column-end: 5;
   
}
#card-14 {
   grid-row-start: 3;
   grid-column-start: 5;

   grid-row-end: 4;
   grid-column-end: 6;
   
}
#card-15 {
   grid-row-start: 4;
   grid-column-start: 1;

   grid-row-end: 5;
   grid-column-end: 2;
   
}
#card-16 {
   grid-row-start: 4;
   grid-column-start: 2;

   grid-row-end: 5;
   grid-column-end: 3;
   
}
#card-17 {
   grid-row-start: 4;
   grid-column-start: 3;

   grid-row-end: 5;
   grid-column-end: 4;
   
}
#card-18 {
   grid-row-start: 4;
   grid-column-start: 4;

   grid-row-end: 5;
   grid-column-end: 5;
   
}
#card-19 {
   grid-row-start: 4;
   grid-column-start: 5;

   grid-row-end: 5;
   grid-column-end: 6;
   
}